.thead {
  > tr {
    height: $form-element-height;
  }

  > tr > th {
    height: $form-element-height * 1.5;
    padding: 0 15px;
    border-width: 0;
  }
}

.tbody {
  > tr {
    border-bottom: 0 !important;

    &:nth-child(even) {
      td { background: #f9f9f9;}
    }

    &:hover > td {
      background: lightgoldenrodyellow;
      color: #333;
    }

  }

  > tr > td {
    height: $form-element-height;
    padding: 0 15px;
    vertical-align: middle;
    border-width: 0;
    border-bottom: 1px solid #f4f4f4;

    &:not(:first-child) {
      border-left: 1px solid #f4f4f4;
    }
  }
}
